---
layout: default
---

{% include assets-origin.html %}

<div class="row">

  <!-- core -->
  <div id="core-wrapper" class="col-12 col-lg-11 col-xl-9 pr-xl-4">
    <div class="post pl-1 pr-1 pl-md-2 pr-md-2">

    {% capture _content %}
      {% if layout.refactor or page.layout == 'page' %}
        {% include refactor-content.html content=content %}
      {% else %}
        {{ content }}
      {% endif %}
    {% endcapture %}

    {% if page.layout == 'page' or page.collection == 'tabs' %}
      {% assign tab_key = page.title | downcase %}
      {% assign title = site.data.locales[site.lang].tabs[tab_key] | default: page.title %}
      <h1 class="dynamic-title">
        {{ title }}
      </h1>
      <div class="post-content">
        {{ _content }}
      </div>
    {% else %}
      {{ _content }}
    {% endif %}

    </div>
  </div> <!-- #core-wrapper -->

  <!-- panel -->
  <div id="panel-wrapper" class="col-xl-3 pl-2 text-muted">
    <div class="access">
    <div class="post">

    <style media="screen">
      .test {
        display: inline-block;
        min-width: 1rem;
        text-align: center;
        background: var(--tag-bg);
        border-radius: 0.3rem;
        padding: 0 0.4rem;
        color: inherit;
        line-height: 1.3rem;
    </style>
    {% if page.layout == 'post' %}

    <div class="panel-heading">Shortcuts</div>

    <ul class="post-content pl-0 pb-1 ml-1 mt-2">

      While the video is paused, you can use the <div class="test">,</div> and <div class="test">.</div> keys to move a single frame back or forward.<br><br>
      You can use the arrow keys to jump back or forward by 5 seconds.

    </ul>
    {% endif %}
    </div>
    </div>
    {% for _include in layout.panel_includes %}
      {% assign _include_path = _include | append: '.html' %}
      {% include {{ _include_path }} %}
    {% endfor %}
  </div>

</div>

<!-- tail -->
{% if layout.tail_includes %}
<div class="row">
  <div id="tail-wrapper" class="col-12 col-lg-11 col-xl-9 pl-3 pr-3 pr-xl-4 mt-5">
    {% for _include in layout.tail_includes %}
      {% assign _include_path = _include | append: '.html' %}
      {% include {{ _include_path }} %}
    {% endfor %}
  </div>
</div>
{% endif %}
